* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg, #000000, #02a2f3);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
    color: #000000;
    text-shadow: white 0px 0px 5px;
}

label {
    color: #000000fb;
    font-weight: bold;
    text-shadow: white 0px 0px 5px;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border: 1px solid #1aa1dc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #08648bf0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0c8cc2d8;
}

#resultado {
    margin-top: 20px;
    color: #000000;
    font-weight: bold
}

.erro {
    color: red;
    font-weight: bold;
}